﻿<ion-view view-title="新闻列表">
    <ion-content>
        <!--下拉刷新-->
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
			<!--纯文字的情况-->
			<!-- <ion-item ng-repeat="item in items" ng-bind="item.name"></ion-item>-->
			<!--绑定数据-->
		  <ion-item ng-repeat="item in items">
			 <a ui-sref="tabsController.newsDetail">
		     <ion-thumbnail item-left>
				<img width="100" height="100" ng-src="{{item.thumb}}" />
		     </ion-thumbnail>
		     <div style="float:right;margin-right: 100px;" >
				<h2>{{item.name}}</h2>
				<p>{{item.desc}}</p>
				<button clear item-right ui-sref="tabsController.newsDetail">View</button>
			 </div>
			 </a>
		  </ion-item>
        </ion-list>
        <!--上拉加载更多-->
        <ion-infinite-scroll ng-if="hasMore()" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>